.button {
   width:60px;
   height: 28px;
   margin:3px 0;
}

.text{
	margin:10px 0;
}

.title{
	font-size:24px;
	font-weight:bold;
}

.subtitle{
	font-size:20px;
}

.legendTitle{
	margin-left:-50%;
	font-size:20px;
}

input{
	font-size:18px;
}



#contentContainer{
	margin-left:50px;
	margin-top:50px;
	width:1200px;
	height:200px;
}

#uiContainer{
	float:left;
}
#legendContainer{
	float:right;
	margin-right:0px;
	border: 1px solid black;
	width:500px;
	height:135px;
}

#graphContainer{
	position:absolute;
	top:200px;
	margin-left:50px;
	width:1200px;;
	height:750px;
	border:1px solid black;
}

#legendTitleContainer{
	margin:auto;
}